<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @user.name%>様、この度は、simple-q-boxへの新規登録ありがとうございます。
  　
  </body>
</html>